*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.header1{
    background-color: #f5f5f5;
}
.header1 .logos{
    justify-content:left;
}
.header1 .logos img{
    padding-left: 10px; 
    aspect-ratio:16/9;
    width:10%;
}

.header1 .logos img:hover{
    filter: contrast(0.1);
}

.header1 .nav1{
    text-align: center;
    justify-content: flex-start;
}
.header1 .nav1 ul li{
    display: inline-block;
    list-style: none;
}
.header1 .nav1 ul li:hover a{
    color: #9b9b9b;
}
.header1 .nav1 ul li a{
    font-size:12px;
    text-decoration: none;
    color: rgb(0,0,0);
    font-weight: 450;
    padding:0px 11px;
    border-right: 1px solid #000;
    margin-bottom: 0;
}
.header1 .nav1 .borderless{
    border:none;
}




.header2 {
    background-color: #fff;
    position: sticky;
    top:0px;
    z-index: 100;
}
.header2 .nikelogo{
    padding-left: 45px;
}
.header2 .nikelogo img{
    padding-top:18px;
}
.header2 .nikelogo img:hover{
    opacity:0.5;
}
.header2 .nav2{
    justify-content: center;
    padding-left: 120px;
}
.header2 .nav2 ul li{
    display:inline-block;
    padding: 20px 0px;
}
.header2 .nav2 ul li:hover{
    border-bottom: 2px solid #000;
}
.header2 .nav2 ul li a{
    font-size: 16px;
    font-weight: 470;
    text-align: center;
    text-decoration: none;
    color: rgb(0,0,0);
    padding:0px 10px;
    margin-bottom: 0;
    word-spacing: 2px;
    letter-spacing: 0.1px;

}
.header2 .button{
    padding-top: 11px;
    padding-left: 0px;
    justify-content: left;

}
.header2 .button input:hover .placeholer{
    color:#9b9b9b;
}
.header2 .button input:hover{
    border: 1.5px solid #f2f2f2;
    border-radius: 20px;
    background-color:#dedede;
    color:#ccc;
    width: 150px;
    text-align: left;
    padding-left: 15px;
    padding-top:7px;
    padding-bottom: 7px;
}
.header2 .button input{
    border: 1.5px solid #f2f2f2;
    border-radius: 20px;
    background-color:#ececec;
    color:#ccc;
    width: 150px;
    text-align: left;
    padding-left: 15px;
    padding-top:7px;
    padding-bottom: 7px;
}
.header2 .button .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
}
.header2 i{
    font-size: 16px;
    color:#000;
    font-weight: 600;
}
  
.header2 .button .search-icon i {
    color: #777; 
}
.header2 ul li .submenu{
    display:none;
    position:absolute;
    background-color: #fff;
    width:100%;
    left:0;
}
.header2 ul li:hover .submenu{
    display:block;
    padding:10px 20px;

}
.header2 ul li .submenu ul h3{
    font-size:16px;
    color: #000;
}
.header2 ul li .submenu ul li{
    padding:0px 0px;
}
.header2 ul li .submenu ul li a{
    font-size: 13px;
}